<div class="card mt-3" *ngIf="dataLoaded | async">
    <div class="card-header">
        <span>{{ dataClass.label }}</span>
        <span class="ms-4 badge rounded-pill bg-info">{{ dataClass.domainType }}</span>
    </div>
    <div class="card-body">
        <ul *ngFor="let classifier of dataClass.classifiers">
            <li>{{ classifier.label }}</li>
        </ul>
        <p class="card-text">{{ dataClass.description }}</p>

        <mdm-data-elements [dataModelId]="dataClass.model" [dataClassId]="dataClass.id"></mdm-data-elements>
 
    </div>
</div>
