<div *ngFor="let provider of profileProviders">
  <div *ngFor="let section of profileSections[provider.namespace + '|' + provider.name]">
    <div class="d-inline-flex" *ngFor="let field of section.fields">
      <div class="me-4 mt-2" *ngIf="field.dataType=='BOOLEAN'">
        <span class="badge bg-light text-dark">{{ field.fieldName }}
          <i *ngIf="field.currentValue=='true'" class="ms-2 bi bi-check-square"></i>
          <i *ngIf="field.currentValue!='true'" class="ms-2 bi bi-square"></i>
        </span>
      </div>
      <div class="me-4 mt-2" *ngIf="field.dataType!='BOOLEAN'">
        <span class="badge bg-light text-dark">{{ field.fieldName }}: {{ field.currentValue }}
        </span>
      </div>      
    </div>
  </div>
</div>