<div class="table-responsive" *ngIf="!isLoadingResults">
    <table mat-table [dataSource]="dataSource" class="table table-striped">
       <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th *matHeaderCellDef>{{column}}</th>
          <td *matCellDef="let record">{{record[column]}}</td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
 </div>
 <div class="bordered is-hidden pxy-2" [ngClass]="{'block':!totalItemCount && !isLoadingResults}">
   <p class="marginless">There are no Data Values in this repository.</p>
</div>
<div class="table-responsive" *ngIf="isLoadingResults">
   <table class="mdm--mat-table table table-striped mdm--skeleton-table">
      <tr>
         <th style="width: 50%"><ngx-skeleton-loader count="1" [theme]="{'background-color': '#b7bbc5', 'width': '30%'}"></ngx-skeleton-loader></th>
         <th style="width: 50%;"><ngx-skeleton-loader count="1" [theme]="{'background-color': '#b7bbc5', 'width': '25%'}"></ngx-skeleton-loader></th>
      </tr>
      <tr>
         <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
         <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
      </tr>
   </table>
</div>
 <div [ngClass]="{'is-hidden':isLoadingResults}">
     <ngb-pagination [collectionSize]="totalItemCount" [page]="1" [maxSize]="5" [ellipses]="true"></ngb-pagination>
 </div>
