<div class="card mt-3">
    <div class="card-header">
        <mdm-link-element [item]="item"></mdm-link-element>
        <span class="ms-4 badge rounded-pill bg-info">{{item.domainType}}</span>
    </div>
    <div class="card-body">
        <!-- breadcrumb link does not work for DataElement
        <nav *ngIf="item.breadcrumbs !== undefined" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li *ngFor="let breadcrumb of item.breadcrumbs" class="breadcrumb-item">
                    <mdm-link-element [item]="breadcrumb"></mdm-link-element>
                </li>
            </ol>
        </nav>
        -->
        <p class="card-text">{{item.description}}</p>
    </div>
</div>
