<div class="card mt-3 mb-3" [ngClass]="{'border-info' : direction}" *ngIf="dataLoaded | async">
    <div class="card-header" [ngClass]="{'bg-info' : direction}">
        <span *ngIf="direction==='target'">{{ semanticLink.linkType }} </span>
        <span><mdm-link-element [item]="catalogueItem"></mdm-link-element></span>
        <span *ngIf="direction==='source'"> {{semanticLink.linkType}} {{ semanticLink.sourceMultiFacetAwareItem.label }} </span>
        <span class="ms-4 badge rounded-pill bg-warning">{{ dataElement.domainType }}</span>
        <a *ngIf="direction" class="ms-4" data-bs-toggle="collapse" attr.data-bs-target="#z{{dataElement.id}}" role="button" aria-expanded="false"><i class="bi bi-arrows-expand"></i></a>

    </div>
    <div class="card-body" [ngClass]="{'collapse' : direction}" id="z{{dataElement.id}}">
        <mdm-classifiers [classifiers]="dataElement.classifiers"></mdm-classifiers>
        <p class="card-text">{{dataElement.description}}</p>

        <!--<div class="row">
            <div class="col-4">
                <h4>Hierarchy</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li *ngFor="let breadcrumb of dataElement.breadcrumbs">{{ breadcrumb.label }} (Id: {{ breadcrumb.id }})</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>DataType definition</h4>
            </div>
            <div class="col-8">
                <p><b>domainType: </b>{{ dataElement.dataType.domainType }}</p>
                <p><b>type: </b>{{ dataElement.dataType.label }}</p>
            </div>
        </div>     -->   

  
        <mdm-semantically-linked-items [item]="dataElement" domainType="dataElements" show="sources"></mdm-semantically-linked-items>
        <mdm-item-profile [item]="dataElement" domainType="dataElements"></mdm-item-profile> 
    </div>
</div>

<div class="row mb-3" *ngIf="page && (dataLoaded | async)">
    <div class="col-12">
        <mdm-semantically-linked-items [item]="dataElement" domainType="dataElements" show="targets"></mdm-semantically-linked-items>
    </div>
</div>