<div *ngFor="let link of semanticLinksForWhichThisIsTarget">
    <mdm-data-model 
        *ngIf="toDataModel(link.sourceMultiFacetAwareItem.domainType)" 
        [id]="link.sourceMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="target">
    </mdm-data-model>

    <mdm-data-class 
        *ngIf="toDataClass(link.sourceMultiFacetAwareItem.domainType)" 
        [dataModelId]="link.sourceMultiFacetAwareItem.breadcrumbs[0].id" 
        [id]="link.sourceMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="target">
    </mdm-data-class>

    <mdm-data-element 
        *ngIf="toDataElement(link.sourceMultiFacetAwareItem.domainType)" 
        [dataModelId]="link.sourceMultiFacetAwareItem.breadcrumbs[0].id" 
        [dataClassId]="link.sourceMultiFacetAwareItem.breadcrumbs[link.sourceMultiFacetAwareItem.breadcrumbs.length-1].id" 
        [id]="link.sourceMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="target">
    </mdm-data-element>
</div> 

<div *ngFor="let link of semanticLinksForWhichThisIsSource">
    <mdm-data-model 
        *ngIf="toDataModel(link.targetMultiFacetAwareItem.domainType)" 
        [id]="link.targetMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="source">
    </mdm-data-model>

    <mdm-data-class 
        *ngIf="toDataClass(link.targetMultiFacetAwareItem.domainType)" 
        [dataModelId]="link.targetMultiFacetAwareItem.breadcrumbs[0].id" 
        [id]="link.targetMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="source">
    </mdm-data-class>

    <mdm-data-element 
        *ngIf="toDataElement(link.targetMultiFacetAwareItem.domainType)" 
        [dataModelId]="link.targetMultiFacetAwareItem.breadcrumbs[0].id" 
        [dataClassId]="link.targetMultiFacetAwareItem.breadcrumbs[link.targetMultiFacetAwareItem.breadcrumbs.length-1].id" 
        [id]="link.targetMultiFacetAwareItem.id" 
        [semanticLink]="link" 
        direction="source">
    </mdm-data-element>
</div> 