<div class="card mt-3 mb-3" [ngClass]="{'border-info' : direction}" *ngIf="dataLoaded | async">
    <div class="card-header" [ngClass]="{'bg-info' : direction}">
        <span *ngIf="direction==='target'">{{ semanticLink.linkType }} </span>
        <span><mdm-link-element [item]="catalogueItem"></mdm-link-element></span>
        <span *ngIf="direction==='source'"> {{semanticLink.linkType}} {{ semanticLink.sourceMultiFacetAwareItem.label }} </span>
        <span class="ms-4 badge rounded-pill bg-warning">{{ dataClass.domainType }}</span>
        <a *ngIf="direction" class="ms-4" data-bs-toggle="collapse" attr.data-bs-target="#z{{dataClass.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="bi bi-arrows-expand"></i></a>
    </div>
    <div class="card-body" [ngClass]="{'collapse' : direction}" id="z{{dataClass.id}}">
        <mdm-classifiers [classifiers]="dataClass.classifiers"></mdm-classifiers>
        <p class="card-text">{{ dataClass.description }}</p>

        <mdm-semantically-linked-items [item]="dataClass" domainType="dataClasses" show="sources"></mdm-semantically-linked-items>
        <mdm-item-profile [item]="dataClass" domainType="dataClasses"></mdm-item-profile>


        <mdm-child-data-classes [dataModelId]="dataClass.model" [dataClassId]="dataClass.id"></mdm-child-data-classes>
        <mdm-data-elements [dataModelId]="dataClass.model" [dataClassId]="dataClass.id"></mdm-data-elements>
    </div>
</div>

<div class="row mb-3" *ngIf="page && (dataLoaded | async)">
    <div class="col-12">
        <mdm-semantically-linked-items [item]="dataClass" domainType="dataClasses" show="targets"></mdm-semantically-linked-items>
    </div>
</div>
