<div class="pt-5 pe-5 ps-5 pb-2 col-md-12 bg-white" *ngIf="dataLoaded | async">
    <div class="d-flex bd-highlight">
        <div class="flex-grow-1 bd-highlight"><h3>{{ dataModel.label }}</h3></div>
        <div class="bd-highlight"><mdm-add-to-wishlist-button [item]="CatalogueItem"></mdm-add-to-wishlist-button></div>
    </div>
    
    <mdm-classifiers [classifiers]="dataModel.classifiers"></mdm-classifiers>
    <p *ngIf="dataModel.description" class="mt-4 lead">{{ dataModel.description }}</p>
</div>

<div class="p-5 col-md-12 bg-white" *ngIf="dataLoaded | async">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="variables-tab" data-bs-toggle="tab" data-bs-target="#variables" type="button" role="tab" aria-controls="variables" aria-selected="true">Variables</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="context-tab" data-bs-toggle="tab" data-bs-target="#context" type="button" role="tab" aria-controls="context" aria-selected="false">Context</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="variables" role="tabpanel" aria-labelledby="home-tab">
            <mdm-data-model-data-classes [dataModelId]="dataModel.id"></mdm-data-model-data-classes>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
             <mdm-item-profile [item]="dataModel" domainType="dataModels"></mdm-item-profile>
        </div>
        <div class="tab-pane fade" id="context" role="tabpanel" aria-labelledby="context-tab">
             <mdm-semantic-links [item]="dataModel" domainType="dataModels"></mdm-semantic-links>
        </div>
    </div>
</div>