<div class="card mt-3" *ngIf="dataLoaded | async">
    <div class="card-header">
        <span>{{ dataModel.label }}</span>
        <span class="ms-4 badge rounded-pill bg-info">{{ dataModel.domainType }}</span>
        <mdm-add-to-wishlist-button class="float-end" [item]="catalogueItem"></mdm-add-to-wishlist-button>
    </div>
    <div class="card-body">
        <p><strong>Author</strong>: {{ dataModel.author }}</p>
        <p *ngIf="dataModel.aliases"><strong>Aliases</strong>: {{ dataModel.aliases }}</p>
        <ul *ngFor="let classifier of dataModel.classifiers">
            <li>{{ classifier.label }}</li>
        </ul>
        <p class="card-text">{{ dataModel.description }}</p>

        <mdm-semantically-linked-items [item]="catalogueItem" domainType="dataModels" show="sources"></mdm-semantically-linked-items>
        <mdm-item-profile [item]="catalogueItem" domainType="dataModels"></mdm-item-profile>

         
    </div>

   
</div>

<div class="row mb-3" *ngIf="dataLoaded | async">
    <div class="col-12">
        <mdm-semantically-linked-items [item]="catalogueItem" domainType="dataModels" show="targets"></mdm-semantically-linked-items>
    </div>
</div>
