<div class="row" [ngClass]="{'is-hidden': !isAuthenticated}">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="d-flex justify-content-center mt-5">
            <div class="input-group input-group-lg mb-3">
                <input #searchInputControl type="text"  id="searchBarInput" [(ngModel)]="searchTerm" class="form-control" placeholder="I'm looking for..."> 
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" *ngIf="isAuthenticated && !isLoadingResults">
    <div class="col-12"> 
        <h4>{{ totalItemCount }} results</h4>
    </div>
    <div class="col-12"> 
        <div *ngFor="let result of searchResults">
            <mdm-card-display [item]="result"></mdm-card-display>
        </div>
    </div>
</div>
<div class="row" *ngIf="!isAuthenticated">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="alert alert-info text-center">Please log in to browse or search</div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="mt-5" [ngClass]="{'is-hidden': isLoadingResults || totalItemCount <= 10}">
    <ngb-pagination [collectionSize]="totalItemCount" [page]="0" [boundaryLinks]="true"></ngb-pagination>
</div>